<li class='list-elem'>
  <p>
    <img src= {{country.flags.svg}} alt='flag' width='30' class='country-flag' />
    {{country.name.common}}
  </p>
</li>

{{! `<li class='list-elem'>
        <p>
          <img src='${name.flags.svg}' 
            alt='flag'
            width='30'
            class='country-flag'
          />
         ${name.name.common}
        </p>
      </li>` }}